
//body {
//	text-align: center;

//}

hr {
	height: 5px;
	color:rgb(37, 14, 136);
}

.luceafarul {
  border: 3px solid #73AD21;
  padding: 10px;
}

//slider!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.slider {
  max-width: 90%;
  position: relative;
  margin: auto;
  height: 600px;
}
.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

.slider .previous,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
  background-color: bisque;
}

.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!




