#slider {
	width: 384px;
	height: 128px;
	border: black 5px solid;
  margin:50px auto;
	overflow: hidden;
}

#scrool {
	width:640px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#scrool img {
	float: left;
}
#scrool::after {
	content:"";
	display: block;
	clear: both;
}